<section class="title">
  <div id="top">
  <h1>WattWatt Educational Portal</h1>

  <p>In this portal, you can find education on:</p>
  </div>  
  <span></span>
  <ea-tabs>
    <ea-tab name="Smart Contracts">
      <div class="info" id="smartcontracts">
        <img src="../../assets/images/ethereumsmartcontract.jpeg" />
        <h3>Smart Contracts</h3>
        <p>
          Smart contracts are lines of computer code, similar to what tells this
          website what to do when things are done to it.
        </p>
        <p>
          While the lines of code written to control this website may move your
          screen further down the page when you click a button or change the
          color of an icon when you move your mouse over it, Ethereum smart
          contracts can:
        </p>
        <div class="contractlist">
          <ul class="llist">
            <li>
                Hold Ether or tokens as an escrow, with instructions of where to
                move it and when
            </li>
            <li>
                Act as payment channels, where a tab is held for the parties
                transacting and instructions on what sort of transaction hash
                generated off-chain to accept and what to do with it
            </li>
            <li>
                Host auctions and exchanges, which pair parties with each other
                that wish to buy and sell
            </li>
            <li>
                Facilitate crowdfunding, with option to return funding at a
                certain time under certain conditions
            </li>
            <li>
                Hold and send a message or some type of data over the blockchain
                when its code tells it to
            </li>
            <li>
                Store a list of addresses or names, such as verified people,
                places, or accredited agents
            </li>
            <li>
                Create token models with rules implemented in the code governing
                the use of the tokens
            </li>
            <li>
                Allows for tokenomics to take place, where players interact in
                an economic game that coordinates them in a joint effort that
                will benefit them all
            </li>
            <li>
                Use the tokens as a marker of Ethereum wallet addresses that are
                owed something or have proven something
            </li>
            <li>
                Some projects have built token models that generate tokens with
                ability to be a valuable means of exchange, such as tokens with
                price stable relative to fiat currency
            </li>
            <li>
                Tokens can be granted rights to change the encoded rules in a
                smart contract through voting
            </li>
            <li>
                Act as neutral, unbiased arbiters between parties in a
                transaction
            </li>
            <li>
                Similar to escrow services, the smart contract has no bias
                besides what's encoded in it and available for any users to
                review
            </li>
            <li>
                Parties can review the rules and agree to lock themselves into
                the rules of the smart contract code or otherwise avoid using
                the smart contract
            </li>
            <li>
                Mint new tokens based on its internally coded rules
            </li>
            <li>
                Some projects have multi-token economic models where owning the
                project's token gives one the ability to mint another token used
                for platform services
            </li>
          </ul>
        </div>
        <span></span>
        <div class="sections">
          <img
          id="ether"
            src="../../assets/images/ethereum.png"
          />
          <h4>The Ethereum Blockchain</h4>
          <p>
            To understand what makes Ethereum smart contracts valuable, it's
            worth knowing what makes Ethereum valuable first. In short, Ethereum
            allows for accounting to be recorded on an immutable, public ledger.
            Accounting doesn't need to be just for finance, though. Accounting
            can be accounting of energy consumption, computational power, or
            something like movement of resources. In the end, accounting may be
            ground down into money figures but based on the addition or
            subtraction of some resource, even including risk or reputation.
          </p>
          <p>
            How Ethereum does this becomes more complex. We'll try to simplify.
            Ethereum makes it an economic game for people to verify incoming
            requests for additions to the ledger. If you send money to your
            friend, you do this by reporting your request publically. The
            verifiers of the ledger, who you may have heard referred to as
            'miners', all receive your request and the requests of others. They
            then combine those requests and verify them as quickly as possible,
            following the economic rules set out by the blockchain protocol. If
            they break the rules or don't verify fast enough, their addition to
            the ledger is not successful and they jump onto the next competition
            for who can complete the next addition to the ledger.
          </p>
          <p>
            The rules in place make it undesirable for the other verifiers to
            use a falsified addition to the ledger. If the rules weren't created
            to do this, the ledger would just be called and ledger and not be
            considered a blockchain. What this means for smart contracts is that
            once your requested addition to the Ethereum blockchain ledger has
            been received and added, nobody can go back in the time of the
            ledger, scratch out your entrance, and potentially even add their
            own component to your transaction, smart contract code, or data.
          </p>
          <p>
            Thus, once you fund a solar project, the Ethereum ledger has it
            noted and cannot erase it. Once you and other parties commit to a
            smart contract, unless the rules of the contract say so, neither
            side can renig or adapt the contract. For this reason, some people
            claim they should be called 'dumb contracts', as the contracts are
            really not adaptable to any scenario not thought of past the
            deployment of the contract code.
          </p>
        </div>
        <div class="sections">
          <h4>Crowdlending and Finance on a Blockchain</h4>
          <p>More to the point of what this means for funding of a project:</p>
          <p>
            In traditional banking and finance, ledgers are held by individual
            entities. Therefore, the entity holding and maintaining the ledger
            must be as reliable as possible. Compensation for reliable and
            reputable ledger holders is high and relies on government regulation
            rather than pure economic incentives. This has been proven to fail
            on many occasions, memorably when it comes to money laundering and
            coorporations with something to hide like a shortfall or bribery.
          </p>
          <p>
            For crowdlending, reliance on trusted entities for accounting proves
            to be costly. Other projects, such as Wunder Capital, Mosaic, and
            GoFundMe charge substantial rates. You have likely be hit with
            transfer and exchange fees for moving and changing your own money.
            It is also an issue of delays. Traditional banks, to save even
            further added costs associated with transactions, must batch their
            transactions and only conduct them all at once at the end of the
            day. This is why you only see your money arrive hours or days after
            you have requested it.
          </p>
          <p>
            WattWatt leverages Ethereum blockchain transaction and contract
            technology to collect funds from many individual sources and
            transfer it at a cost of less than $5.00. The transaction costs the
            funders pay to send to the smart contract is less than $0.50. This
            allows us to offer much greater shares of the returns from the loans
            to our customers, which we hope brings more capital to solar
            developers.
          </p>
          <p>
            To further allow for crowdlending to occur at a low cost, Ethereum
            smart contracts can create what's referred to as a 'token'. Tokens
            are really more like digital licenses that give the Ethereum address
            that the ledger shows as its owner the ability to do whatever the
            smart contract assigns holders of those tokens. For example, a token
            can give the Ethereum address (and in turn its owner) one vote count
            in an election. Another example- a token can be identified by a
            smart contract as proof that the address holding it has been
            verified for some function the smart contract contains.
          </p>
          <p>
            In the case of debt, like crowdlending, tokens can be automatically
            set to disperse to addresses which have contributed some amount of
            funding to the project being raised for. Now that the addresses
            contributing have the token, the smart contract can have code in it
            giving access to token holders to the repayment the borrower pays
            back over the time of the funding contract. If someone wishes to,
            they can transfer the token(s) to another contract, perhaps to keep
            it safe, lock it up as collateral in some finance deal, or sell it
            because they'd prefer to have something else.
          </p>
        </div>
        <div class="sections">
          <h4>Repayment Enforcement</h4>
          <p>
            Using a neutral entity like a smart contract, arbitration betwen
            parties in a loan can be settled immediately in a fair manner. The
            parties can agree to some terms at the beginning of the debt term
            and the smart contract can execute on the actions agreed upon if it
            reads data that something like a default has occured on the loan.
          </p>
          <p>
            Solar technology has not only improved in reduced costs per kWh
            produced. Inverters, basically the controller of the solar PV system
            and what changes the rooftop produced direct-current electricity
            into useful, alternative-current electricity, have become much more
            sophisticated. WattWatt is working on developing smart contracts
            that take advantage of remote shutdown mechanisms built into the new
            generations of inverters to enforce repayment. If the parties,
            including the borrower, agree to a smart contract with remote
            shutoff built into the smart contract in the event of non-payment,
            the borrower will be much more inclined to pay into the smart
            contract on time every period. Assuming the system was installed to
            save the borrower money every month, the borrower will be aware that
            not paying on time will increase the cost of their electricity the
            next month since they will be consuming grid produced electricity
            instead of the cheaper solar generated electricity.
          </p>
          <p>
            The transparent nature of payment collection through a publically
            availble smart contract will also facilitate insurance payments.
            These insurance payments can ensure that lenders will be made whole
            even in the case of non-payment by the borrower. The insurance will
            be able to clearly see that no payment has arrived in the smart
            contract and the lenders have not received payment either. Funds can
            be placed in an escrow smart contract attached to a series of
            repayment smart contracts, to be paid out immediately and made
            available to lenders, an excellent expertience for WattWatt
            crowdlending customers.
          </p>
          <p>
            This is written on in a different section but transparent,
            economically incentivized verification can also be leveraged as a
            model to reduce counter-party risk of loans. While it's expensive
            for an individual to go out and verify whether a potential borrower
            can be trusted to repay, and especially for every participant in a
            crowdlending effort to do their own due diligence, improved models
            of coordination can provide an aggregated source of verification for
            lenders.
          </p>
        </div>
      </div>
    </ea-tab>
    <ea-tab name="Solar PV Energy">
      <div class="ea-card" class="info" id="pvenergy">
        <h3>Solar PV Energy</h3>
        <p>
          Solar photovoltaic energy generation is now among the most economic
          methods to generate electricity. We'll explore how this has come to be
          and how it works here.
        </p>
        <p>
          Solar photovoltaic is a method of generating electricity by using a
          panel made up of a material that moves electrons (electricity) when it
          catches photons (sunlight) coming from the sky. The majority of this
          type of generation is done through doped silicon wafers, manufactured
          from purified silicon doped with
        </p>
        <p>Types of silicon cell structures:</p>
        <div>
          <span></span>
          <img
            style="width:20%;height:20%;"
            src="../../assets/images/monocrystalline.jpeg"
          />
          <h4>Monocrystalline</h4>
          <p>Produced from one single silicon block</p>
          <p>Converts more solar energy into electricity than the others</p>
          <p>
            Requires heating to melt and allow the 'grains' (mesh of silicon
            atoms) of silicon to align themselves
          </p>
          <span></span>

          <img
            style="width:20%;height:20%;"
            src="../../assets/images/polycrystalline.jpeg"
          />

          <h4>Polycrystalline</h4>
          <p>Most popular technology of the three main ones</p>
          <p>Produced from various 'grains' of silicon put together</p>
          <p>
            Avoids the extra heating/melting process of monocrystalline (costs
            less)
          </p>
          <span></span>

          <h4>Thin film panels</h4>
          <p>
            Main technologies are: a-Si (amorphous thin-film silicon), CdTe
            (cadmium telluride)(most produced type), and CIGS (copper indium
            gallium diselenide).
          </p>
          <p>
            Use as little as 100 times less semiconductor material (silicon and
            doping atoms) compared to mono or polycrystalline.
          </p>
          <p>
            Much more expensive process, balancing out the reduced material
            cost. This technology has a long history of bankrupt manufacturers
            and closed businesses (Solyndra, Tokyo Electron).
          </p>
        </div>
        <span></span>
        <div>
          <h4>Watt's Up With Silicon in Solar?</h4>
          <p>
            Silicon is the most abundant element on the crust of Earth (60% of
            the crust is silica). So why does solar cost as much as it does?
          </p>
          <p>
            Silicon used in solar PV has to be refined from SO2, the form most
            easily convertible to pure silicon. To do this, manufacturers have
            to use a lot of heat, which costs money to make. The heat causes the
            oxygen in the SO2 to break off and bind to something else other than
            the silicon (usually carbon). Manufacturers also use gases to remove
            impurities off the silicon. The process continues through different
            methods until the manufacturer gets the purity of silicon they're
            looking for. The wafers you see in a solar panel come from this pure
            silicon.
          </p>
          <p>
            Silicon in solar is then put into two layers on each wafer: the
            N-type, which which collects the arriving solar energy, and the
            P-type, which releases the electrons that make up electricity.
          </p>
          <p>
            The silicon on the surface is also 'textured', which means rather
            than being flat and reflecting some of the solar back out
            immediately, it causes the solar energy to bounce off the surface of
            the silicon more than once. This gives the wafer another chance to
            absord the solar energy. This means more solar energy can be
            collected, increasing the amount of electricity that can be
            generated.
          </p>

          <h4>Watt About Dopants? (Doping Wafers)</h4>
          <p>
            Boron atoms are placed inside the N-type layer, replacing spaces
            where silicon atoms would have been. There are usually 1 boron atom
            per million silicon atoms in a wafer.
          </p>
          <p>
            Phosphorous atoms are placed inside the P-layer, also replacing
            spaces where silicon atoms would have been.
          </p>
          <p>
            Placing these atoms within the silicon mesh give these layers their
            characterists to either catch solar energy or to move along
            electrons and generate electricity.
          </p>

          <h4>Watt Else is Done to Make a Wafer?</h4>
          <p>
            Electrical contacts: You'll see these on a solar panel as the
            metallic lines crossing the wafers. They carry the electrons
            released as electricity and move it to the wires that carry it to
            where it's used. Usually, they are made of titanium (contact that
            first picks up the electrons), palladium (glue between the two
            outside layers), and a conductor metal, such as silver (moves the
            electrons out to the electrical wires).
          </p>
          <p>
            Solar panels also have relfective material on the back of the panel,
            behind the wafers, to reflect back the remaining solar energy so it
            can be absorbed. Remember, photons are waves of energy moving
            through the air. They can move through objects as they are not solid
            objects.
          </p>
        </div>
        <div>
          <h4>Other Equipment</h4>
          <p>
            While the solar cells used to be most of the cost of an
            installation, its price has plummeted in the last 10 and 20 years.
            Now, the discussion among installers is more focused on the other
            costs of an installation, including:
          </p>

          <p>
            Inverters: responsible for converting the DC (direct current)
            electricty made by the PV panels to AC (alternative current), which
            is needed for the electricity to power our houses and businsses.
          </p>
          <p>
            Wiring: moves the electrons making up the electricity from the
            panels to the inverter and then to the house or business.
          </p>
          <p>
            Mounting hardware: equipment that installers use to hold the panel
            array on the roof to the structure of the roof. Otherwise, a wind or
            rain would cause the panels to fall off the roof or fly away like a
            kite.
          </p>
          <p>
            Interconnection equipment: what connects the wires carrying the
            solar generated electricity to whatever the existing electrical
            infrastucture is.
          </p>
          <p>
            Install crew: need someone experienced, capable people to bring the
            equipment over, mount it on the roof, run the wires, and adjust the
            inverter settings. It's not a good idea to do all this yourself if
            you don't know what you're doing!
          </p>
          <p>
            Permitting: in the US, a significant cost of an installation is
            getting the government and utility company permission to build the
            system and connect it to the grid.
          </p>
        </div>
        <div>
          <h4>So How Much Does This All Cost?</h4>
          <p>
            The cost to power your home or business using solar has plummeted
            drastically. You can buy a system for 70% less now than in 2010.
          </p>
          <p>
            A home system to power 100% of the need of an average US house will
            now cost about $15,000 in total.
          </p>
          <p>
            A utility company can now get enough solar installed to power 5,000
            houses for about $30 million, or $6,000 a house.
          </p>
          <p>
            Once the system is installed, the system will continue to generate,
            without any fuel costs, for at least 30 years.
          </p>
          <p>Payment owed per month is a function of:</p>
          <p>
            Price per unit of solar generation (Watts of capacity to be
            installed)(More Watts needed to generate more)
          </p>
          <p>
            Interest Rate (5% vs 10% charged per year)(obviously a lower
            interest rate will cost a borrower less)
          </p>
          <p>
            Repayment Period (6 years vs 10 years)(more time means lower
            payments per month but paying more overall)
          </p>
          <p>
            How much you're looking to offset (generate from solar instead of
            buying from the grid)(depending on your grid and cost to generate,
            producing 100% of your power from solar may make the most sense or
            not)
          </p>
          <p>
            The basic formula to find whether a project is worth it and how much
            benefit it will create is as follows:
          </p>
          <p>
            [kWh produced by the system] divided by [How much can each panel
            produce in kWh per year] multiplied by [Final price per panel] =
            [Payment per month] which is compared to the [Utility price per kWh]
            times [Amount of kWh the system is producing which you're no longer
            buying from the grid]
          </p>
          <p>
            In shorter form: (kWh produced/(kWh/kW))/($/kW) = $/kWh (of grid
            electricity) x kWh (produced by solar system)
          </p>
        </div>
      </div>
    </ea-tab>
    <ea-tab name="Project Finance">
      <div class="ea-card" class="info" id="projectfinance">
        <h3>Project Finance</h3>
        <p>
          Currently, large firms handle the funding needs of solar developers
          for the majority of projects.
        </p>
        <p>
          These firms charge dealer fees, origination fees, closing costs, and
          maintenance fees for their service. In the end, their service is to
          collect funds from private wealth and find projects to lend it to.
        </p>
        <p>
          A popular method of finance in solar is called TPO financing, or Third
          Party Ownership. This is where the financer, rather than lending
          capital to the entity going solar, purchases the system and allows the
          entity to benefit from the solar through reduced costs in their
          electricity. Because the financer owns the system and has it on their
          accounting books, they can report to the government that they paid for
          a solar installation. This lets them receive the tax subsidies offered
          by the US government meant to incentivize solar installations. The two
          main programs are MACRS, by the IRS, and the ITC.
        </p>
        <p>
          The ITC (Investment Tax Credit) is a credit of 30% of the costs of the
          system. The owner of the system can reduce their tax owed to the IRS
          by their tax rate multiplied by 30% of the costs of the installation.
        </p>
        <p>
          MACRs (Modified Accelerated Cost Recovery Program), is a program by
          the IRS that allows the owner of a solar installation to deduct the
          costs over an accelerated 5 year period. The tax benefit, without
          diving into the details, gives a 26% tax benefit of the cost of the
          installation (on a present-value basis) versus the regular 20 year
          depreciation period being a 14% tax benefit.
        </p>
        <p>
          The combined benefits of the ITC and MACRS comes out to about 56% of
          the system's costs. As an example, if Goldman Sachs funded
          $100,000,000 of solar installations, they would see a tax benefit of
          $56,000,000.
        </p>

        <h4>Blended Finance</h4>
        <p>
          Usually, large energy projects are not funded by a single loan or
          investor but rather a conglomerate or investors and lenders, packaged
          in a way to give each entity the profile of risk vs return they are
          seeking. For example:
        </p>
        <p>
          A solar project needs $100,000 of funding to get installed. The
          developer may want to have a share in the long term to make some
          return other than their installation costs. So let's say they fund
          $10,000 out of their own operating capital. Then they find two
          investment groups wanting to make a high return from the project. They
          would purchase 40% of the project ($40,000) and own this share and 40%
          of the returns of the project. Then a bank is willing to lend $40,000
          to make a set return, let's say 7% interest for 10 years. Now the
          developer has $90,000 in funds and needs $10,000 more. To lock this
          up, they offer another investment fund senior shares in the firm, at
          an lower share of the returns but with the added benefit that they
          will receive their money back before anyone else except the bank that
          lent the money.
        </p>
        <h4>What Makes a Project Worthwhile?</h4>
        <p>
          Solar generation is fundamentally a cost-savings space as electricity
          is for the most part commoditized. Electricity generated at a coal
          power plant is just as much flowing electrons as those produced by the
          polychristilline silicone on one's roof. The exception includes
          utility regions where variable usage and maximum usage schemes are
          being implemented to reduce extreme variability throughout the day and
          in turn improve generator's effeciency and cost.
        </p>
      </div>
    </ea-tab>
    <ea-tab name="Tokenomics Examples">
      <div class="info">
        <h3 id="tokenomics">Tokenomics</h3>
        <p>
          Refers to the system of tokens and the rules behind them that lead
          people to behave in certain ways. If people follow the behavior
          incentivized by the token model, everyone in the network will be
          better off than if they failed to coordinate and competed instead.
          It's important to first understand the signficance of losses due to
          competition in an economy and second, to understand that honor systems
          all eventually fail (torrent seeding, credit rating agents, corrupt
          authorities, security clearance, Trump paying contractors, Enron's
          accounting, etc etc). Tokenomics relies on player inability to cheat
          the system if they want to break the rules due to the immutable nature
          of the blockchain ledger the smart contract is based on.
        </p>
        <p>
          WattWatt will be launching a coordination platform that uses economic
          incentives to get people to work together when it comes to due
          diligence of loan applications.
        </p>
        <p>
          By providing education on how the economic mechanisms work, we hope to
          to both improve the results of the platform and help users get the
          best experience out of using it.
        </p>
        <div>
          <h4>Examples of Irrational Behavior in Economics</h4>
          <p>Sunk Cost</p>
          <p>Hot Hand</p>
          <p>Loss Aversion</p>
        </div>
        <div>
          <h4>Examples of Token Economic Models</h4>
          <p>
            Blockchain tokens are able to effeciently coordinate agents that do
            not trust each other. Mechanisms to acheive this frequently are not
            designed correctly or miss the point entirely. The difference these
            tokens make is that rather than using mechanisms like polling or
            agreements, they require players to have a stake in the game and a
            potential realized gain if they behave well. These mechansisms make
            it expensive and irrational to misbehave and break the rules they
            agreed to and enforcement of the rules come swiftly and often
            harshly. Smart contracts usually do not have arbitration mechansisms
            built in, which removes costly and delayed legal measures to make
            the misbehaving parties get in line.
          </p>
          <p>Token Curated Registry</p>
          <p>Multi-Token Economic Model</p>
          <p></p>
          <p>
            To offer a more indepth explanation of token economic models, we
            believe the most effecient route is through learning about existing
            models that are already launched and 'in main net' (the equivalent
            of 'on the app store')
          </p>
          <h5>Augur</h5>
          <p>
            Augur is a prediction market platform backed by decentralized
            'oracles' (sources of data or truth). Its purpose is to provide a
            trusted source of truth for prediction markets. Prediction markets
            already exist but they are limited by:
          </p>
          <p>Need for a government legal system</p>
          <p>A middle-man broker</p>
          <p>Censorship of potential markets</p>
          <span></span>
          <p>
            The token available in this platform is the Reputation token (REP).
            The REP token gives the holder permission to:
          </p>
          <p>Create a market</p>
          <p>Report an outcome of a market</p>
          <p>Challenge reported outcomes of a market</p>
          <p>
            "Oh thanks! I 'get' to work for the platform." Well, token holders
            are offered an incentive to do this work by being paid their portion
            of the 'reporting fee pool'. If they stake their tokens and they're
            on the right side, their tokens and their action of staking them
            earn them a proportional share of the pool according to what percent
            of the tokens staked on the winning side are theirs.
          </p>
          <p>
            So what's the point of owning these tokens if they still have to
            work for the earnings? In this type of system, if the token holders
            do a good job at whatever is the purpose of the platform (and
            assuming the designers of the platform did their job well), there
            will be more demand to use the platform or its product. In turn, the
            earnings for the token holders will go up. In the case of REP, there
            may be larger Reporting Fee Pools available for token holders to bet
            into and earn from the pools based on their staked REP tokens. In
            the case of other systems, the incentive may be in the form of the
            value of the tokens going up as demand for them increases based on a
            need to hold and use them to use the platform.
          </p>

          <h5>MakerDAO</h5>
          <p>
            MKR tokens give holders the ability to vote on rules for minting of
            MakerDAO's product: the Dai stabletoken. They are also necessary to
            pay for platform fees when you take out a loan through locking up of
            your Ether to mint Dai stabletokens. These fees are burned by the
            smart contract when paid, lowering supply of MKR tokens and
            therefore increasing the price of the remaining MKR tokens held. On
            the reverse, if the MKR token holders failed to properly govern the
            platform and Dai starts to become unpegged, the smart contract rules
            initiate minting of new MKR tokens, sells them off to the general
            market, and uses the proceeds to cover the Dai of the failed loan
            contracts. This is balanced by an auction in parallel to sell off
            the collateral within the loan contract. The more that can be earned
            from this second auction, the less MKR tokens minted and therefore
            less dilution of MKR holders.
          </p>
          <h5>Adchain</h5>
          <p>
            An example of a token curated registry (TCR), Adchain gives token
            holders the ability to apply, challenge, and vote on applications
            for listing to a registry of domain names with advertising. The
            token holders can also vote on governance issues like quorom,
            application stake amount, etc.
          </p>
        </div>
      </div>
    </ea-tab>
    <ea-tab name="Auctions and Prices">
      <div class="ea-card" class="info" id="auctions" unset>
        <h3>Auctions</h3>
        <p>
          Individuals and organizations need some sort of logic to arrive at a
          price for something. This can be done by professionals after
          investigation into the purchase but is difficult for an individual who
          doesn't have the time or means to do the research and build up their
          own capability. In the same way WattWatt is improving due diligence by
          coordinating through market forces to incentivize verification of loan
          applications, its auctions can improve pricing when it comes to
          setting interest rates between lenders and borrowers. A group of
          lenders, let's say 15 lenders for a solar project, would need to meet
          together, get to know one another, and hope that among them they have
          the competance to determine an effecient and desirable lending rate
          for the solar developer. The solar developer could try offering to pay
          a certain interest rate but would not know if among the necessary 15
          lenders, they would be offering to pay enough for each of them.
        </p>
        <p>
          An auction can coordinate the players together to offer up the figures
          they would be happy with without giving up information to other
          parties that would put them at a disadvantage. If the lenders announce
          they would be happy with something between a 10 to a 12% interest
          rate, the borrower would just ask for the 10% interest rate. In an
          auction, the lenders can tell a smart contract their range and the
          smart contract can then match it with what the borrower has inputted
          to output the rate which would please both parties.
        </p>
        <p>
          At WattWatt, we intend to launch auctions that are: effecient,
          credible, inexpensive, easy to understand, and available. If users
          don't know how to use them, cannot access them, or are too
          complicated, they will be rendered unused. If they can be cheated or
          don't do their job of discovering the optimal price, we are
          underserving our customers.
        </p>
        <div>
          <h4>Examples of Auctions</h4>
          <p>Dutch Auction</p>
          <p>
            Descending price auction, where the price continues to be bid down
            until someone claims the object. They would claim because they
            believe that if they don't claim it at the price, someone else will
            on the next drop. It's a market for buyers to determine what's the
            most they're willing to pay to ensure they get the object while
            considering what the object may be worth to the other buyers.
          </p>
          <p>
            Can discover pricing more effeciently because it discovers what
            buyers are willing to pay, at most, and what sellers are willing to
            sell at, at the least, then combines this information to find the
            most optimal middle-ground. Buyers will not pay more than they can
            and sellers do not receive less than what they need. The buyers that
            signal the most interest by offering more will win the bid and pay
            less than the most they would be willing to pay.
          </p>
          <p>First Price Auction</p>
          <p>
            What people traditionally imagine when they think of an auction:
            people continue to bid until nobody else is willing to pay more than
            whoever ends up winning. What this can cause is a buyer to spend a
            lot more than they would have in a Dutch auction and can allow for
            manipulation. As a positive, it's easy to understand the strategy,
            can be executed quickly, and does not require lots of coordination.
          </p>
          <p>Second Price Auction</p>
          <p>
            Can improve price discovery over first price auctions. The auction
            happens in much the same way as a first price auction but the
            purchase price is the second-to-last bid, put forth by losing
            bidder. The buyer with the highest bid ends up paying what this
            second-highest bid and therefore no more than what the person with
            the second largest interest in the product would have spent.
          </p>
        </div>
      </div>
    </ea-tab>
  </ea-tabs>
</section>
