<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>WattWatt- Decentralized Lending</title>
    <!-- <base href="https://vincenzbuhler.com/WattWatt/portal" /> -->
    <!-- <link rel="stylesheet" href="style.css" /> -->
  </head>

  <body>
      <div id="connectM" class="buttons">

            <button
            (click) = "Connect()"
            outline
            rounded
              id="connect"
              class="metamask"
              target="_blank;"
            >
              Use Metamask
            </button>

            <button
            outline
            rounded
              onclick = "sendwyre()"
              id="connect"
              class="wyre"
              target="_blank;"
              id="verifyButton"
            >
               Onboard
            </button>

        </div>
    <h1 id="title">Solar Projects Raising Capital</h1>
    <!-- <h3></h3>
    <div id="top"><div id="topnav1"></div></div> -->

    <div multi-col p id="listings">
      <div class="card">
        <img
          src="../../assets/images/MexicoComm.jpeg"
          alt="Comm"
        />
        <div class="container">
          <div>
            <h2>Bayamon, PR 3</h2>
            <div class="datas">
                <span style="left: 0;"><p class="data">8.1%</p> <p class="data">$300,000</p> <a class="data">More..</a></span>
            </div>

          </div>
            <!-- <input
              type="number"
              size="50"
              id="amount"
              value="0.10"
              min="1"
              id="currency"
            /> -->
            <span class="currencyinput">$<input type="text" name="currency" id="amount"></span>
          <div class="button">
            <button
              onclick = "Transfer(amount)"

              id="transfer"
              class="submittal"
              target="_blank;"
            >
              Fund!
            </button>
          </div>
        </div>
      </div>

      <div class="card">
        <img
          src="../../assets/images/commroof1.jpeg"
          alt="Comm"
          class="projimage"
        />
        <div class="container">
          <h2>San Juan, PR</h2>
          <div class="datas">
              <span style="left: 0;"><p class="data">8.0%</p> <p class="data">$500,000</p> <a class="data">More..</a></span>
          </div>
          <!-- <div class="tag">
            <input
              type="number"
              size="50"
              id="amount"
              value="0.10"
              min="1"
              id="currency"
            />
          </div> -->
          <span class="currencyinput">$<input type="text" name="currency" id="amount"></span>

          <div class="button">
            <button
            onclick = "Transfer(amount)"
              id="transfer"
              class="submittal"
              target="_blank;"
            >
              Fund!
            </button>
          </div>
        </div>
      </div>

      <div class="card">
        <img
          src="../../assets/images/commroof2.jpeg"
          alt="Comm"
          class="projimage"
        />
        <div class="container">
          <h2>Loan 3</h2>
          <div class="datas">
              <span style="left: 0;"><p class="data">12.2%</p> <p class="data">$800,000</p> <a class="data">More..</a></span>
          </div>
          <!-- <div class="tag">
            <input
              type="number"
              size="50"
              id="amount"
              value="0.10"
              min="1"
              id="currency"
            />
          </div> -->
          <span class="currencyinput">$<input type="text" name="currency" id="amount"></span>
          <div class="button">
            <button 
            onclick = "Transfer(amount)"
              id="transfer"
              class="submittal"
              target="_blank;"
            >
              Fund!
            </button>
          </div>
        </div>
      </div>

      <div class="card">
        <img
          src="../../assets/images/PRSolar2.JPG"
          alt="Comm"
          class="projimage"
        />
        <div class="container">
          <h2>Loan 4</h2>
          <div class="datas">
              <span style="left: 0;"><p class="data">7.4%</p> <p class="data">$600,000</p> <a class="data">More..</a></span>
          </div>
          <!-- <div class="tag">
            <input
              type="number"
              size="50"
              id="amount"
              value="0.10"
              min="1"
              id="currency"
            />
          </div> -->
            <span class="currencyinput">$<input type="text" name="currency" id="amount"></span>

          <div class="button">
            <button
            onclick = "Transfer(amount)"
              id="transfer"
              class="submittal"
              target="_blank;"
            >
              Fund!
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- <section id="section1">
      <h1>Dynamic Navigation Bar</h1>
      <p class="intro">
        Inspired by the new Android Lollipop UI, the navbar gets colored
        dynamically with a tinted background-color of each following section.
      </p>
    </section>

    <section id="section2">
      <h2>Another Section…</h2>
      <p>
        By the way each section is displayed full screen just by one line of
        css. You can use viewport untis for flexible heights and widths.
      </p>
    </section>

    <section id="section3">
      <h2>And Another Section…</h2>
    </section>

    <section id="section4">
      <h2>Wohoo! One more…</h2>
    </section> -->

    <script>
      console.log("hello11");
      import Web3 from "web3";
    </script>
    <script src="https://verify.sendwyre.com/js/widget-loader.js"></script>
  </body>
</html>
