<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>WattWatt- Decentralized Lending</title>
</head>
<div id="crowd">

<div id="intro">
  <h3>Welcome to the WattWatt Demo!</h3>

  <p id="try">Here you can try what's coming out:</p>
  <ul>
    <li>Apply your project to be listed</li>
    <li>Check out projects seeking funding</li>
    <li>Try out the KYC/AML API SendWyre provides our platform</li>
    <li>Experience the funding process</li>
  </ul>
</div>

<button mat-raised-button id="demo" (click)=onCreate()>Submit a New Project</button>

<app-active [active]="Actives"></app-active>

<app-projects [project]="Projects"></app-projects>
  
</div>
