<div class="ea-card" unset style="margin: 6em 0 4em 0;">
  <div class="ea-card-content content-wrap" grid>
    <div>
      <h1>WattWatt</h1>
      <h2>Fund a Panel, Save the World</h2>
      <div class="buttons">
        <a href="https://vincenzbuhler.typeform.com/to/a7wnzR" target="_blank">
          <button><span icon refresh-cw negative></span> Fund a Project</button>
        </a>
        <a href="/onboard" style="text-decoration: none;">
          <button><span icon negative add-file></span> Apply for Loan</button>
        </a>
        </div>
    </div>
  </div>
  <img class="header-img" src="../assets/images/wattwattHeader.png" alt=""/>
</div>

<div class="ea-card" unset>
  <div class="ea-card-header"><h2>WattWatt Energy Revolution</h2></div>
  <p style="text-align: justify;">
    The existing finance available to solar installers and their customers
    offers high costs, unfair conditions, and slow service. At the same time,
    customers at banks see very poor interest rate instruments and have no
    connection to what their capital is funding. The space is rife with
    middle-men involved to ensure a smooth process. </p>
  <p style="text-align: justify;">With smart contracts, less
    middle-men are necessary because the process is governed by the community
    and not individual entities. Individuals within the community have an
    ownership stake and are incentivized to be active. This sets up a solution
    that aligns the community and solar developers. They are incentivized to
    keep away undesirable and risky projects from entering the space to begin
    with and care about the overall health of the platform and its projects.
  </p>
  <div
    class="ea-card-content"
    grid
    style="--ea-card-content-grid:repeat(auto-fit, minmax(10rem, 1fr));grid-gap:2rem;"
  >
    <div class="ea-card" unset>
      <div
        class="ea-card-header"
        style="display: flex; justify-content: center;"
      >
        <img src="../../assets/images/financing.svg" alt="" />
      </div>
      <h2 style="text-align:center;">
        Smart Contracting <br />
        Vehicle
      </h2>
      <div class="ea-card-content">
        <ul>
          <li>
            <span icon check-circle></span>
            <p>Over your ability to transfer without intermediaries</p>
          </li>
          <li>
            <span icon check-circle></span>
            <p>Small transfer times with no censorship possible</p>
          </li>
          <li>
            <span icon check-circle></span>
            <p>Immutability when desired</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="ea-card" unset>
      <div
        class="ea-card-header"
        style="display: flex; justify-content: center;"
      >
        <img src="../../assets/images/growth.svg" alt="" />
      </div>
      <h2 style="text-align:center;">Secure Crowdfunding Mechanism</h2>
      <div class="ea-card-content">
        <ul style="margin: 0; padding: 0;">
          <li>
            <span icon check-circle></span>
            <p>Contracts built by experienced smart contract team</p>
          </li>
          <li>
            <span icon check-circle></span>
            <p>Highly scalable to handle growing investment demand</p>
          </li>
          <li>
            <span icon check-circle></span>
            <p>Automated repayment and low cost service</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="ea-card" unset>
      <div
        class="ea-card-header"
        style="display: flex; justify-content: center;"
      >
        <img height="160" src="../../assets/images/solarpanel.svg" alt="" />
      </div>
      <h2 style="text-align:center;">Verification for Investor's    Interest</h2>
      <div class="ea-card-content">
        <ul>
          <li>
            <span icon check-circle></span>
            <p>WattWatt team composed of experienced professionals</p>
          </li>
          <li>
            <span icon check-circle></span>
            <p>Decentralization allows for community verification</p>
          </li>
          <li>
            <span icon check-circle></span>
            <p>
              Token economics built to align verifier's interest with investors'
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="ea-card" unset>
  <div
    class="ea-card-content"
    grid
    style="--ea-card-content-grid:repeat(auto-fit, minmax(10rem, 1fr));grid-gap:2rem;"
  >
    <div class="ea-card">
      <div class="ea-card-header" style="padding:0;">
        <img src="../assets/images/code.jpeg" style="width:100%;height:100%;" />
      </div>
      <div class="ea-card-content">
        <ul>
          <h4>Problem</h4>
          <p>Existing system is chain of intermediaries</p>
          <p>Difficult and risky to finance on your own</p>
          <h4>Solution</h4>
          <p>Running capital raise and repayment through immutable, digital contracts</p>
          <p>Assemble a solar investment community to run the platform</p>
          <p>
            Individuals earn more from their capital under the WattWatt model
          </p>
        </ul>
      </div>
    </div>

    <div class="ea-card">
      <div class="ea-card-header" style="padding:0;">
        <img
          src="../assets/images/buildings.jpeg"
          style="width:100%;height:100%;"
        />
      </div>
      <div class="ea-card-content">
        <ul>
          <h4>Problem</h4>
          <p>Finance industry dictates most terms</p>
          <p>Capital takes extended period to arrive</p>
          <h4>Solution</h4>
          <p>Leveling playing field for installers with crowdfunding from regular people</p>
          <p>Financers become personally invested in solar projects</p>
          <p>Cryptocurrency capital arrives same-day as opposed to multiple weeks/months</p>
        </ul>
      </div>
    </div>

    <div class="ea-card">
      <div class="ea-card-header" style="padding:0;">
        <img
          src="../assets/images/analytics.jpg"
          style="width:95%;height:95%;"
        />
      </div>
      <div class="ea-card-content">
        <ul>
          <h4>Problem</h4>
          <p>Financial due diligence can be expensive</p>
          <p>Investors skeptical of non-verified projects</p>
          <h4>Solution</h4>
          <p>Curated registry managed by token holders</p>
          <p>Verifiers compensated directly through economics of token model</p>
          <p>
            Verifiers are incentivized to increase value of network tokens and
            the registry
          </p>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="ea-card" unset style="margin: 4rem 0;">
  <div class="ea-card-content content-wrap" style="justify-content: space-between;">
    <div>
      <h2 style="margin-top:0;">Join the conversation</h2>
      <h3>Get started in our Discord</h3>
    </div>
    <aside>
        <a style="height:1em;" href="https://discord.gg/vqWYcCj" target="_blank">
      <button class="discord-button" md>
        <span style="margin-left: 0;" icon discord></span> Discord
      </button>
      </a>
    </aside>
  </div>
</div>
