<!-- <div>
    <div class="one" [innerHtml]="htmlToAdd"></div>
</div> -->

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>WattWatt- Decentralized Lending</title>
</head>

<hr>
<h1 style="text-decoration: underline; margin-left: 2em;">Active Projects:</h1>

<div *ngIf="project?.length > 0;else noProjects">
<div  multi-col id="listings">
<div *ngFor="let _project of project" class="cardtop">
    <div class="card">
        <img
          src="../../assets/images/MexicoComm.jpeg"
          alt="Comm"
          class="projectphoto"
        />
        <div class="container">
          <div>
            <h2>{{ _project.project.city }}</h2>
            <div class="datas">
                <span><p class="data" id="interest">{{ _project.project.interest }}% Annual Interest</p> <p>${{ _project.project.size }}</p> 
                  <hr>
                  <h3>[{{ _project.project.type}}]</h3> <h3>{{ _project.project.term}} Year Debt Term</h3></span>
                <!-- <a class="data">More..</a> -->
            </div>

          </div>
            <div class="amountinput"><span class="currencyinput">$<input type="text" name="currency" id="amount" placeholder="Amount to lend in USD"></span></div>
          <div class="button">
            <button

              onclick = "Transfer(amount)"
              id="transfer"
              class="submittal"
              target="_blank;"
            >
              Fund!
            </button>

            <!-- <button (click)="Delete(this.project)" id="transfer">
            Delete
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <ng-template #noProjects>
      <hr>
      <h5>No listed projects!</h5>
    </ng-template>
