<h1>WattWatt Onboarding for Solar Developers</h1>
<p>
  We have provided this page for solar developers applying for loans on their installations.
</p>

<!-- <div>
    <label>
        Name:
        <input type="text" [formControl]="name">
      </label>
    <form [FormGroup]="form" (ngSubmit)="onSubmit()">
        <input placeholder="email" type="text" [formControlName]="email">
        </form>
  <h4>Please fill out the spaces below to begin the onboarding process. We will get back to you as soon as possible.</h4>
  <p></p>
  <form  action="/action_page.php" method="post">
    Company Name: <br>
    <input type="text" name="Company Name"> <br> <br>

    Your position in the company: <br>
    <input type="text" name="Position in the company"> <br> <br>

    Region: <br>
    <input type="text" name="Region"> <br> <br>

    Email Address: <br>
    <input type="text" name="Email"> <br> <br>

    Installation Sizes: <br>
    <input type="radio" name="Install Size" value=">40kW" checked> >40kW<br>
    <input type="radio" name="Install Size" value="50-400kW" checked> 50kW     - 400kW<br>
    <input type="radio" name="Install Size" value="400kW-1MW" checked> 400kW - 1MW<br>
    <input type="radio" name="Install Size" value="1MW-30MW" checked> 1MW - 30MW<br>
    <input type="radio" name="Install Size" value="30MW-500MW" checked> 30MW - 500MW<br>
    <input type="radio" name="Install Size" value="500MW-1GW" checked> <500MW<br> <br>

    <input type="submit" value="Submit">

    
  </form>
</div> -->
<!-- <div>
  <ww-form></we-form> 
</div> -->

<!-- <div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input placeholder="email" type="text" [formControlName]="email">
  </form>
</div> -->