h1 {
    text-align: center;
    text-decoration: underline;
}

#applyt {
    border-bottom: 0.2em solid black;
    margin-bottom: 0.5em;
}

#content {
    position: relative;
}

#applied {
    width: 40%;
    float: left;
    padding: 0.5em 0.3em 0.5em 0.3em;
    margin-left: 1em;
    border-radius: 1em;
    background: rgba(197, 185, 185, 0.534);
    display: block;
}

.card {
    margin: 2em 0em 0em 0em;
    padding: 1em 0.5em 1em 0.5em;
    border-radius: 1.2em;
}

#detail {
    height: 3em;

    button {
        float: right;
        display: block;
        margin-right: 1em;
    }
}

#detailapp {
    display: block;
    width: 50%;
    right: 1em;
    // margin-right: 2em;
    top: 11em;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
}

.buttons {
    margin-bottom: 0.2em;
    height: 3em;
    padding: 0 1em 0 1em;

    button {
        margin: 0em 0em 0.2em 0em;
    }

    #accept {
        display: block;
        float: left;
    }

    #decline {
        display: block;
        float: right;
        background: rgb(219, 82, 82);
        border-color: rgb(219, 82, 82);
    }   
}






.aproject {

}

#title {

}

.cardtop {
    border-bottom: 0.2em solid black;
    margin-bottom: 1em;
}