<ea-layout>
  <ea-toolbar>
    <header>
      <button icon flat>
        <img width="18" src="../assets/images/wattwatt-logo.svg" alt="" style="margin-right: 0.4em;">
        <a class="routers" routerLink="">WattWatt</a>
      </button>
    </header>
   <aside>
      <button sm icon flat class="about-link">
        <a class="routers" routerLink="/about">About</a>
      </button>
      <button icon flat class="whitepaper-link">
        <a class="routers" routerLink="/whitepaper">Whitepaper</a>
      </button>
      <button icon flat class="education-link">
        <a class="routers" routerLink="/education">Education</a>
      </button>
      <button
        outline
        rounded
        id="crowdfundb"
      >
        <a routerLink="/crowdfunding" target="_blank">Demo</a>
      </button>

    </aside>
  </ea-toolbar>

  <ea-drawer>
    <section>

      <a class="routetext" routerLink="/about">About</a>
      <!-- <a routerLink="/whitepaper">Whitepaper</a> -->
      <!-- <a routerLink="/donation">Donation Portal</a> -->
      <!-- <a style="margin: 0;" class="mobile" routerLink="/about">About</a>
      <a routerLink="/token" class="mobile">Token</a>
      <a style="margin: 0;"class="mobile" routerLink="/whitepaper">Whitepaper</a> -->
      <!--
        <a routerLink="/crowdfunding">Crowdfunding Portal</a>
              -->
        <a class="routetext" routerLink="/education">Education Portal</a>
    </section>
  </ea-drawer>

  <ea-main>

    <ea-body> <router-outlet></router-outlet> </ea-body>
    <ea-footer>

      <aside>
        <h2>WattWatt</h2>
        <h3>Ethereum-based solar energy financing</h3>
      </aside>
      <main>
        <button icon sm flat>
          <a style="height:1em;" href="https://github.com/wattwattenergy">
            <img class="icons" src="../../assets/images/github.svg" alt="" />
          </a>
        </button>
        <button icon sm flat>
          <a class="icons" href="https://twitter.com/wattwattenergy">
            <img class="icons" height="18" src="../../assets/images/twitterWhite.svg" alt=""/>
          </a>
        </button>
        <button icon sm flat>
          <a class="icons" href="">
            <img class="icons" src="../../assets/images/youtube.svg" alt="" />
          </a>
        </button>
        <button icon sm flat>
          <a class="icons" href="https://medium.com/wattwattenergy">
            <img class="icons" src="../../assets/images/medium.svg" alt="" />
          </a>
        </button>
        <button icon sm flat>
          <a class="icons" href="https://discord.gg/vqWYcCj">
            <img class="icons" src="../../assets/images/discord.svg" alt="" />
          </a>
        </button>

      </main>
    </ea-footer>
  </ea-main>
</ea-layout>
